body {
    text-align : center;
}

#samples {
    width: 80%;
    min-width: 300px;
    max-width: 600px;
    text-align:left;
    margin: auto;
    line-height: 2em;
}

#message {
    width: 80%;
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
}
