body {
    text-align : center;
}

hr {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#samples {
    width: 80%;
    min-width: 300px;
    max-width: 600px;
    text-align:left;
    margin: auto;
    line-height: 2em;
}

#message {
    width: 80%;
    min-width: 300px;
    max-width: 600px;
    min-height: 200px;
}

#save {
    background: green;
    color: white;
    border: 1px solid darkgreen;
    cursor: hand;
}
#save:hover {
    background: lightgreen;
    color: black;
    border: 1px solid darkgreen;
}

#new_definition_message {
    font-style: italic;
    color: red;
    display: none;
}

#update_definitions {
    background: gold;
    border: 1px solid goldenrod;
    cursor: hand;
}

#update_definitions:hover {
    background: yellow;
}

#dev_mode {
    position: absolute;
    top: 5px;
    right: 5px;
}
