body {
    width: 600px;
    margin: 0px;
}

input[type=radio] {
    margin: 10px 10px 5px 10px;
    cursor: hand;
}

input:read-only {
    border: 0px;
    cursor: hand;
    font-size: 100%;
}

input[type=submit], button[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: lightblue;
    color: black;
    border: 1px solid darkblue;
}
input[type=submit]:hover, button[type=submit]:hover {
    cursor: hand;
    background: #3399ff;
    color: white;
    border: 1px solid darkgreen;
}

p {
    line-height: 1.6em;
}

h1 {
    font-weight: normal;
}

label {
    white-space: nowrap;
}

#alert {
    position: absolute;
    display: none;
    color: white;
    background: #DF0000;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 5px;
    font-size: larger;
    opacity: 0.7;
    text-align: center;
    z-index: 100;
}

#title {
    background-color: lightgray;
    padding: 10px;
    font-size: larger;
    font-variant: small-caps;
    box-shadow: 0px 1px 1px #aaa;
}

#icon {
    vertical-align: middle;
    padding-right: 5px;
}

#body {
    padding: 0px 10px 10px 10px;
}

#options {
    background: gray;
    color: white;
    border: 1px solid black;
    margin-left: 50px;
}
#options:hover {
    cursor: hand;
    background: lightgray;
    color: black;
    border: 1px solid darkgreen;
}

#toggle_hide {
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
    font-variant: small-caps;
}

.instructions {
    line-height: 1.7em;
}

.buttons {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 0px;
}
