a {
    color: blue;
    cursor: hand !important;
    text-decoration: none;
}

a:hover {
    color: red;
}

body {
    margin: 0px;
}

body > div:first-child {
    text-align: center;
}

body > div {
    margin: 30px;
}

div.pane-title {
    padding-bottom: 20px;
}

.checkbox-container {
    display: flex;
}

html {
    scroll-behavior: smooth;
}

input[type=checkbox] {
    margin-right: 12px;
}

input[type=checkbox] + label {
    cursor: hand;
}

input[type=submit] {
    border: 1px solid black;
    cursor: hand;
    margin-right: 20px;
    margin-top: 20px;
    padding: 5px 10px;
}

#save-blacklist, #submit-blacklist {
    margin-bottom: 20px;
}

input[type=submit]:hover {
    background: lightgreen;
    border: 1px solid darkgreen;
    color: black;
}

p {
    margin-top: 0px;
}

textarea {
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #ccc, 2px 2px 2px #eee;
    margin-top: 20px;
    max-width: 800px;
    min-height: 180px;
    min-width: 200px;
    white-space: pre;
    width: 100%;
}

#filters-help-1,
#filters-help-2 {
    display: none;
}

#filters-help-icon-1,
#filters-help-icon-2 {
    cursor: hand;
    font-size: medium;
    vertical-align: super;
}

#footer {
    background: #ddd;
    bottom: 0px;
    box-shadow: 0px -1px 1px #ccc, 0px -2px 2px #eee;
    display: table;
    font-size: smaller;
    margin: 0 auto;
    padding: 10px 0px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#footer a {
    color: black;
    text-decoration: none;
}

#footer a,
#footer span {
    padding: 0px 10px;
}

#footer a:hover {
    color: #38d;
    text-decoration: underline;
}

#footer a.fa {
    padding: 0px 5px;
}

#footer a.fa:hover {
    text-decoration: none;
}

#new_definition_message {
    color: red;
    display: none;
    font-style: italic;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    width: 300px;
}

#options {
    margin: 30px auto;
    max-width: 800px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

#options div, #options p {
    text-align: left;
}

#options p {
    line-height: 1.6em;
}

#options-nav {
    text-align: center !important;
}

#options-nav > a {
    padding: 0px 5px;
}

#regex-samples {
    font-size: small;
    min-width: 300px;
    line-height: 1.6em;
    text-align: left;
}

#regex-samples td {
    padding: 0px 10px;
}

.checkbox-container {
    margin-top: 10px;
}

.header-title {
    font-size: x-large;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.header-title > div {
    display: inline-block;
}

.header-title > div:first-letter {
    color: #000;
    font-family: arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    vertical-align: middle;
}

.options-header {
    background: #ddd;
    box-shadow: 0px 1px 1px #aaa, 0px 4px 4px #ddd;
    display: table;
    margin: 0 auto;
    padding: 20px 0px;
    width: 100%;
}

.options-header-image {
    width: 50px;
    vertical-align: middle;
}

.pane-title {
    color: #333;
    font-size: large;
    padding-bottom: 10px;
}

.pane-title:not(:first-child) {
    padding-top: 50px;
}

.pane-title > i {
    color: #aaa;
}

.pane-subtitle {
    color: #555;
    font-size: x-large;
}

.saved-notification {
    animation: fadeInOutSaveNotification 4s;
    background: #ffd;
    border: solid 1px orangered;
    border-radius: 5px;
    color: orangered;
    display: none;
    font-weight: bold;
    margin: auto;
    opacity: 0;
    padding: 2px 10px;
    width: 100px;
}

@keyframes fadeInOutSaveNotification {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
