a {
    color: blue;
    cursor: hand !important;
    text-decoration: none;
}

a:hover {
    color: red;
}

body {
    margin: 0px;
    text-align: center;
}

input[type=submit] {
    background: #090;
    border: 1px solid darkgreen;
    border-radius: 3px;
    color: white;
    cursor: hand;
    padding: 5px 10px;
}

input[type="checkbox"] + label {
    cursor: hand;
}

#excluded_urls {
    max-width: 800px;
    min-height: 180px;
    min-width: 200px;
    white-space: pre;
    width: 100%;
}

#new_definition_message {
    color: red;
    display: none;
    font-style: italic;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    width: 300px;
}

#options p {
    line-height: 1.6em;
}

#save:hover,
#update_definitions:hover {
    background: lightgreen;
    border: 1px solid darkgreen;
    color: black;
}

#samples {
    max-width: 600px;
    min-width: 300px;
    line-height: 1.6em;
    margin: auto;
    text-align:left;
}

#samples td {
    padding: 0px 10px;
}

#filters-help-icon {
    cursor: hand;
    font-size: medium;
    vertical-align: super;
}

.available-options {
    font-size: 100%;
    margin: 0 auto;
    max-width: 90%;
}

.options-header {
    background: #ddd;
    box-shadow: 0px 1px 1px #aaa, 0px 4px 4px #ddd;
    display: table;
    margin: 0 auto;
    padding: 20px 0px;
    width: 100%;
}

.options-header-image {
    vertical-align: middle;
}

.header-title {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.header-title-first-letter {
    color: #000;
    font-family: arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    vertical-align: middle;
}

.header-title-rest-of-word {
    font-family: "Arial Narrow", arial, sans-serif;
}

.footer-parent {
    background: #ddd;
    bottom: 0px;
    box-shadow: 0px -1px 1px #ccc, 0px -2px 2px #eee;
    display: table;
    font-size: smaller;
    margin: 0 auto;
    padding: 10px 0px;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
}

.footer-child {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
}

.footer-child > a {
    color: black;
    text-decoration: none;
}

.footer-child > a, .footer-child > span {
    padding: 0px 10px;
}

.footer-child > a.fa {
    padding: 0px 5px;
}

.footer-child > a.fa:hover {
    text-decoration: none;
}
.footer-child > a:hover {
    color: #38d;
    text-decoration: underline;
}

.pane-title {
    color: #333;
    font-size: xx-large;
    padding-bottom: 10px;
}

.pane-subtitle {
    color: #555;
    font-size:x-large;
}

.pane-section {
    margin: auto;
    padding-bottom: 10;
    width: 90%;
}

.saved-notification {
    animation: fadeInOutSaveNotification 4s;
    background: #ffd;
    border: solid 1px orangered;
    border-radius: 5px;
    color: orangered;
    display: none;
    font-weight: bold;
    margin: auto;
    opacity: 0;
    padding: 2px 10px;
    width: 100px;
}

@keyframes fadeInOutSaveNotification {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
