body {
    background: #eee;
    font-size: 10pt;
    margin: 0px;
    width: 400px;
}

input[type=radio] {
    cursor: pointer;
    margin: 10px;
}

input[type=text], select {
    padding: 2px;
    width: 100%;
}

#alert {
    background: #DF0000;
    bottom: 0px;
    color: white;
    display: none;
    font-size: larger;
    left: 0px;
    margin: 0px;
    opacity: 0.7;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.caption {
    background-color: #999;
    box-shadow: 0px 1px 1px #aaa;
    padding: 10px;
}

.caption_buttons_container {
    float: right;
}

.content {
    padding: 0px 10px 5px 10px;
}

.content_title {
    padding: 5px;
}

.content_buttons {
    float: right;
}

.icon {
    padding-right: 5px;
    vertical-align: middle;
}

/* Input Buttons */

input[type=submit], button[type=submit] {
    -webkit-border-radius: 5px;
    border: 1px solid darkblue;
    border-radius: 5px;
    color: black;
}

input[type=submit]:hover, button[type=submit]:hover {
    border: 1px solid darkgreen;
    color: white;
    cursor: pointer;
}

.caption input[type=submit], .caption button[type=submit] {
    background: lightgray;
    margin-left: 5px;
    padding: 10px 5px;
}

.caption input[type=submit]:hover, .caption button[type=submit]:hover {
    background: gray;
}

.content input[type=submit], .content button[type=submit] {
    background: rgb(180, 206, 214);
    margin: 5px 0px 5px 5px;
    padding: 2px 5px;
}

.content input[type=submit]:hover, .content button[type=submit]:hover {
    background: #3399ff;
}

.comments_blocked {
    background: lightblue;
    margin: 5px 0px 5px 5px;
    padding: 2px 5px;
}

.comments_blocked {
    background: #3399ff;
}

.comments_unblocked {

}

/* Share box */

#share_box {
    background: #eee;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#share_box button {
    width: 30px;
}

#share_box_comment {
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    resize: none;
    width:100%;
}
